@import '_custom.scss';
@import url("https://use.typekit.net/mbq5gkf.css");
@import "../node_modules/slick-carousel/slick/slick.css"; 
@import "../node_modules/slick-carousel/slick/slick-theme.css";

$primaryColor: #ff0030;
$pure_white: #ffffff;
$snow-white: #efefef;
$carbon: #353838;
$Typeface: 'Proxima Nova', sans-serif;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $Typeface !important;
  margin: 0;
}

body, h1, h2, h3, h4, h5, p, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5 {
  font-size: 0.8rem !important;
  text-transform: uppercase;
  font-weight: 800 !important;
  font-family: $Typeface !important;
  letter-spacing: 2px;
  color: $primaryColor !important;
}

p {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  font-family: $Typeface;
  color: $carbon !important;

}

button {
  font-family: $Typeface !important;
  font-weight: 600 !important;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: $primaryColor;
}

.row {
  margin: 0 !important;
  margin-bottom: 2rem;
}

.navbar .container {
  padding: 0 !important;
}

.btn-hero {
  left: -50%;
  position: relative;
}

button.btn.btn-primary {
  background-color: $primaryColor;
  color: $pure_white;
  border: 2px solid $primaryColor;
  transition: ease-in 100ms;
}
button.btn.btn-primary:hover {
  background-color: $pure_white;
  color: $primaryColor;
  border: 2px solid $primaryColor;
}


//Logo
.logoMain {
  min-width: 80px;
  width: 120px;
  max-width: 120px;
  .st0{fill:#353838;}
  .st1{fill:#DF405A;}
}

.box-left .box-right{
  width: 80%; height: 300px; border-radius: 21px 21px 0 0;
}


.navbar {
  width: 100vw;
  height: 70px;
  background-color: $pure_white;
  border-radius: 0;
  box-shadow: 0 -4px 40px rgba(0, 0, 0, 0.15);
  padding: 8px 16px 8px 16px;
  margin-bottom: 0;
}

.menu-list {
  position: inherit;
  margin-top: 16px;
  display: block;
  float: right;
  padding-right: 16px;
}

.menu-list > ul, li {
  display: inline-flex;
  margin-right: 16px;
  text-decoration: none;
}


.hero-container {
  width: 100%;
}

// .projectCanvas canvas {
//   max-height: 600px;
//   min-height: 600px;
//   max-width: 100vw;
//   width: 100%;
//   top: 0;
//   position: absolute;
//   z-index: -20;
// }


.hero-text {
  font-size: 5rem;
  color: $carbon;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  // position: relative;
}

.hero-subtext {
  color: $carbon;
  font-weight: 400;
  font-family: 'Lato';
  font-size: 1rem;
  max-width: 800px;;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.hero-content {
  width: 100%;
  height: auto;
  // position: absolute;
  margin-top: 16rem;
  max-width: 960px;
}
@media only screen and (max-width: 480px) {
  .hero-text {
    font-size: 3rem;
  }
  .hero-subtext {
    font-size: 0.9rem;
  }
  .hero-content {
    margin-top: 8rem;
    position: relative;
  }
  .heroButton {
    width: 100% !important;
  }
}
@media only screen and (max-width: 992px) {
  .hero-content {
    margin-top: 8rem;
  }
  .logoMain {
    margin-top: -0.5rem;
  }
}
.heroButton {
  margin-top: 1rem;
  width: 30%;
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
  border-width: 2px !important;
}

.heroButton:hover {
  background-color: rgba(0,0,0,0) !important;
  border-color: $primaryColor;
  border-width: 2px !important;
  color: $primaryColor !important;
}

.projectButton {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
  border-width: 2px !important;
}

.projectButton:hover {
  background-color: rgba(0,0,0,0) !important;
  border-color: $primaryColor;
  color: $primaryColor !important;
  border-width: 2px !important;
}

.btn-secondary.projectButton {
  background-color: rgba(0,0,0,0) !important;
  border-color: $primaryColor;
  color: $primaryColor !important;
  border-width: 2px !important;
}

.btn-secondary.projectButton:hover {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
  border-width: 2px !important;
  color: $pure_white !important;
}

.logoHero {
  max-width: 400px;
  position: relative;
  .st0{fill:$pure_white;}
  .st1{fill:$primaryColor;}

}

.projectImage {
  overflow: hidden;
  width: 100%;
}

.projectTitle {
  margin-top: -0.5rem;
}

.projectTitle > h3 {
  font-weight: 800 !important;
  color: $carbon;
  text-transform: uppercase;
  font-size: 1.5rem;

}

.project-section {
  width: 100%;
  height: 420px;
  margin-top: 1rem;
  position: absolute;
  left: 20%;
}

.projects-title h1 {
  
  text-transform: uppercase;
  font-weight: 800;
  font-size: 5rem;
  margin-top: 7.5rem;
  color: $carbon;
  font-family: $Typeface;
  text-align: center;
}

.projectsArea {
  margin: 7rem 0;
}

.viewProject {
  color: $primaryColor;
}

.mainSection {
  position: absolute;
  width: 100%;
  height: 600px;
}

.projectsContainer {
  padding-bottom: 2rem;
}

.project {
  margin-bottom: 2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 1rem;
  text-decoration: none;
  border-radius: 2px;
  background-color: $pure_white;
}

.project:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.12);
  cursor: pointer;
}


.projectDetails {
  margin-top: 1.5rem;
}



// Individual Project Page 

.projectsCanvas canvas {
  max-height: 100vh;
  max-width: 100vw;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -20;
}

.projectsCanvas .container {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 35%);
}

.backToProjects {
  text-align: center;
}

.projectHero {
  width: 100%;
  color: $carbon;
}

.projectMain {
  width: 100%;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.projectHeading > h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 7.5rem;
  color: $carbon;
  text-align: center;
}

.projectInfoBox {
  width: 100%;
  margin: 2rem 0;
}

// .projectInfoLeft {
//   width: 50%;
// }

// .projectInfoRight {
//   width: 50%;
// }

.contentZone {
  margin-bottom: 4.5rem;

}

.projectContentArea {
  width: 100%;
  color: $carbon;
  margin-top: 2rem;
}


.projectContentArea > h2 {
  text-transform: uppercase;
  font-family: $Typeface;
  font-weight: 800;
}

.projectContentArea_B {
  width: 100%;
  color: $carbon;
  margin-top: 1rem;
}

.projectContentArea_B > h2 {
  text-transform: uppercase;
  font-family: $Typeface;
  font-weight: 800;
  margin-top: 2rem;
}

.projectImageLarge {
  margin-top: 2rem;
}
.navigationButtons {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}

/* CV */
.container.cvContainer {
  background-color: $pure_white;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 2rem;
  text-decoration: none;
  border-radius: 2px;
  min-height: 90vh;
}

.container.cvContainer .nameTitleArea h1 {
  font-size: 2rem;
}
.container.cvContainer .nameTitleArea h1.positionTitle {
  font-weight: 700;
}
.container.cvContainer .nameTitleArea hr, .container.cvContainer .rightColumn hr {
  background-color: $primaryColor;
  height: 2px;
  width: 30%;
  margin-left: 0;
}
.container.cvContainer .resumeContactInfo .contactEmail, .contactPhone, .contactSocial {
  display: inline-flex;
  margin: 0.5rem 0;
  margin-right: 1rem;
}
.container.cvContainer .resumeContactInfo .contactEmail .emailIcon {
  margin-right: 1rem;
  font-size: 1.45rem;
}
.container.cvContainer .resumeContactInfo .contactSocial .socialIcon {
  font-size: 1.45rem;
  margin-right: 0.5rem;
}
.container.cvContainer .resumeContactInfo .contactEmail a, .contactSocial a, .contactEmail a:hover, .contactSocial a:hover {
  color: $primaryColor;
}
.container.cvContainer .rightColumn h4.cvSectionTitle {
  margin-top: 5.75rem;
  text-transform: uppercase;
}
.container.cvContainer .rightColumn .dateArea {
  font-weight: 500;
  text-transform: uppercase;
}
.container.cvContainer .rightColumn .experienceArea .cvContent {
  padding-bottom: 3rem;
}
.container.cvContainer .rightColumn .cvItem {
  margin-top: 4px;
}
.container.cvContainer .rightColumn .cvItem p {
  margin-bottom: 0;
}
.container.contactCanvas {
  margin-top: 8rem;
}
.container.contactCanvas .contact-form input, .container.contactCanvas .contact-form textarea {
  margin: 1.5rem 0;
}
.container.contactCanvas form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.container.contactCanvas form .form-label-group {
  position: relative;
}
.container.contactCanvas .form-label-group > label, .container.contactCanvas .form-label-group > input {
  height: 3.5rem;
  padding: .75rem;
}
.container.contactCanvas .form-label-group input:not(:placeholder-shown), .form-label-group textarea:not(:placeholder-shown) {
  padding-top: 1.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}
.container.contactCanvas .form-label-group input:not(:placeholder-shown) ~ label, .container.contactCanvas .form-label-group textarea:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: $carbon;
  opacity: 1;
}
.container.contactCanvas .form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .09s ease-in-out;
  opacity: 0;
}
.container.contactCanvas label {
  display: inline-block;
  margin-bottom: .5rem;
}

.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 4.5em;
  height: 4.5em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid $primaryColor;
  border-radius: 50%;
  animation: load8 0.6s infinite linear;
  transition: opacity 0.3s;
}

.loader--hide {
  opacity: 0;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mobileMenu {
  display: none;
}



.AppContainer {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  padding-bottom: 80px;
}

@media only screen and (max-width: 480px) {
  .mobileMenu {
    display: flex;
    position: absolute;
    background-color: $snow-white;
    width: 100%;
    bottom: 0;
    height: 80px;
  }
}