/* Grid Styles */
@import url("https://use.typekit.net/mbq5gkf.css");
@import url(../node_modules/slick-carousel/slick/slick.css);
@import url(../node_modules/slick-carousel/slick/slick-theme.css);
.grid {
  position: relative;
  margin: 0 auto;
  max-width: 1170px;
  list-style: none;
  text-align: center; }

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  background: #353838;
  text-align: center;
  cursor: pointer; }

.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100%; }

.grid figure figcaption {
  padding: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole itrem by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  word-spacing: -0.15rem;
  font-weight: 300; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure h2,
.grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px; }

/***** Sadie *****/
body {
  font-family: "Proxima Nova", sans-serif !important;
  margin: 0; }

body, h1, h2, h3, h4, h5, p, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h5 {
  font-size: 0.8rem !important;
  text-transform: uppercase;
  font-weight: 800 !important;
  font-family: "Proxima Nova", sans-serif !important;
  letter-spacing: 2px;
  color: #ff0030 !important; }

p {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  font-family: 'Lato' !important;
  color: #353838 !important; }

button {
  font-family: "Proxima Nova", sans-serif !important;
  font-weight: 600 !important; }

a {
  text-decoration: none; }

a:hover {
  cursor: pointer;
  color: #ff0030; }

.row {
  margin: 0 !important;
  margin-bottom: 2rem; }

.container {
  padding: 0 !important; }

.btn-hero {
  left: -50%;
  position: relative; }

.logoMain {
  width: 100%;
  max-width: 120px; }
  .logoMain .st0 {
    fill: #353838; }
  .logoMain .st1 {
    fill: #DF405A; }

.box-left .box-right {
  width: 80%;
  height: 300px;
  border-radius: 21px 21px 0 0; }

.navbar {
  width: 100vw;
  height: 70px;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0 -4px 40px rgba(0, 0, 0, 0.15);
  padding: 8px 16px 8px 16px;
  margin-bottom: 0; }

.menu-list {
  position: inherit;
  margin-top: 16px;
  display: block;
  float: right;
  padding-right: 16px; }

.menu-list > ul, li {
  display: inline-flex;
  margin-right: 16px;
  text-decoration: none; }

.hero-container {
  width: 100%;
  left: 22%; }

.projectCanvas canvas {
  max-height: 600px;
  min-height: 600px;
  max-width: 100vw;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -20; }

.projectsCanvas canvas {
  max-height: 300px;
  min-height: 300px;
  max-width: 100vw;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -20; }

.hero-text {
  font-size: 5rem;
  color: #353838;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  position: relative; }

.hero-subtext {
  color: #353838;
  font-weight: 400;
  font-family: 'Lato';
  font-size: 1rem;
  max-width: 860px;
  line-height: 1.5rem;
  letter-spacing: 1px; }

.hero-content {
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 18rem;
  max-width: 960px; }

.heroButton {
  margin-top: 1rem;
  background-color: #ff0030 !important;
  border-color: #ff0030 !important;
  border-width: 2px !important; }

.heroButton:hover {
  background-color: transparent !important;
  border-color: #ff0030;
  border-width: 2px !important;
  color: #ff0030 !important; }

.projectButton {
  background-color: #ff0030 !important;
  border-color: #ff0030 !important;
  border-width: 2px !important; }

.projectButton:hover {
  background-color: transparent !important;
  border-color: #ff0030;
  color: #ff0030 !important;
  border-width: 2px !important; }

.logoHero {
  max-width: 400px;
  position: relative; }
  .logoHero .st0 {
    fill: #ffffff; }
  .logoHero .st1 {
    fill: #ff0030; }

.projectImage {
  overflow: hidden;
  width: 100%; }

.projectTitle {
  margin-top: -0.5rem; }

.projectTitle > h3 {
  font-weight: 800 !important;
  color: #353838;
  text-transform: uppercase;
  font-size: 1.5rem; }

.project-section {
  width: 100%;
  height: 420px;
  margin-top: 1rem;
  position: absolute;
  left: 20%; }

.projects-title h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 5rem;
  margin-top: 7.5rem;
  color: #353838;
  font-family: "Proxima Nova", sans-serif;
  text-align: center; }

.projectsArea {
  margin-top: 7rem; }

.viewProject {
  color: #ff0030; }

.mainSection {
  position: absolute;
  width: 100%;
  height: 600px; }

.project {
  margin-bottom: 4rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 1rem;
  text-decoration: none; }

.project:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer; }

.projectDetails {
  margin-top: 1.5rem; }

.projectHero {
  width: 100%;
  height: 600px;
  color: #353838;
  position: absolute; }

.projectMain {
  width: 100%;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 4rem; }

.projectHeading > h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 8.5rem;
  color: #ffffff;
  text-align: center; }

.projectInfoBox {
  width: 100%;
  display: flex;
  margin-top: 2rem; }

.projectInfoLeft {
  width: 50%; }

.projectInfoRight {
  width: 50%; }

.contentZone {
  margin-bottom: 4.5rem; }

.projectContentArea {
  width: 100%;
  color: #353838;
  margin-top: 2rem; }

.projectContentArea > h2 {
  text-transform: uppercase;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800; }

.projectContentArea_B {
  width: 100%;
  color: #353838;
  margin-top: 1rem; }

.projectContentArea_B > h2 {
  text-transform: uppercase;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  margin-top: 2rem; }

.projectImageLarge {
  margin-top: 2rem; }
